.top-menu {
  height: 80px;
  background: white;
  width: calc(100vw - 100px);
  margin-left: auto;
  .main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .title {
      margin-left: 20px;
      h4 {
        color: #181d31;
        font-size: 22px;
        font-weight: 600;
        font-family: sans-serif;
        margin-bottom: 0.5rem;
      }
      h5 {
        color: #a1a5b6;
        font-size: 15px;
        font-weight: 400;
      }
    }
    .menu {
      padding: 20px 0;
      ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        li {
          margin: 0 3rem 0 -1rem;
          font-weight: 400;
          font-size: 15px;
          color: #a1a5b6;
          &.active {
            color: #141414;
          }
        }
      }
    }
  }
}
